.postList {
    margin: 2em;
}

.addPostContainer {
    text-align: right;
    margin-right: 5%;
}

.addPost {
    text-decoration: none;
}

.sortPostContainer {
    text-align: right;
    margin-right: 5%;
}